.navlink {
	padding: 0.25rem;
	font-size: 1.25rem;
	border-radius: 0.25rem;
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-family: var(--font-rubik-mono);
}
.navlinkAction {
	font-weight: 600;
	color: #fbf080;
	color: --secondary-color;
}
